
:root {
  --bg: rgba(50, 50, 70, 0.9);
  --bg-text: rgb(200, 200, 200);
  --hover-bg: rgba(50, 50, 70, 0.4);
  --hover-text: rgb(240, 88, 67);
}

body {
  background-color: var(--bg, rgba(50, 50, 70, 0.9));
  color: var(--bg-text, white);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.table-img {
  border-radius: 50%;
  animation: glowing 7s infinite;
}

@keyframes glowing {
  50% {
    box-shadow: 1px 2px 12px #8cacea,
      -1px -2px 12px #8cacea;
  }
}

.container {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}

.main-title {
  font-family: 'Neuton', serif;
  text-align: center;
}

.theme {
  margin-left: 10px;
}

.theme > button {
  color: var(--bg-text, white);
  background: var(--bg, gray);
  border: 1px solid lightblue;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px;
  padding: 5px 15px;
}

.leaderboard-table {
  overflow-x: auto;
}

.leaderboard-head{
  font-size: 40px;
  text-align: center
}

th {
  border-radius: 5px;
  background-color: rgba(240, 88, 67, 0.8);
  color: white;
}
th, td {
  padding: 15px;
}
th, td {
  text-align: center;
  vertical-align: center;
}
.sort-header {
  cursor: pointer;
}
tbody {
  overflow-y: auto;
}
tbody > tr > td:nth-child(3) {
  cursor: pointer;
}
tbody > tr:hover {
  background-color: var(--hover-bg, rgba(50, 50, 70, 0.4));
  color: var(--hover-text, rgb(240, 88, 67));
  font-weight: 400;
}

.footer {
  margin: 50px;
  text-align: center;
}

/*progress bar*/
.recent-bar {
  width: 200px;
  height: 10px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  box-shadow: 1px 1px 5px var(--bg-text, white), -1px -1px 5px var(--bg-text, white);
}
.recent-progress {
  background-color: rgb(255, 167, 49);
  position: absolute;
  height: 10px;
  border-radius: 5px;
  z-index: -1;
}

.alltime-bar {
  width: 70px;
  height: 10px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  box-shadow: 1px 1px 5px var(--bg-text, white), -1px -1px 5px var(--bg-text, white);
}
.alltime-progress {
  background-color: rgb(125, 208, 255);
  position: absolute;
  height: 10px;
  border-radius: 4px;
  z-index: -1;
}

/*Modal*/
.modal {
  display: none;
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-weight: 400;
}
.modal-content {
  display: block;
  margin: 0 auto;
  max-width: 450px;
  background-color: var(--bg-text, white);
  color: var(--bg, black);
  border-radius: 15px;
  padding: 25px;
}
.modal-body {
  margin: 0;
  padding: 0 10px;
}
.showModal {
  display: grid;
  grid-template-areas:
    'img header'
    'img username'
    'img data';
}
.modal-img {
  border-radius: 5px;
  grid-area: 'img';
}
.modal-header {
  grid-area: 'header';
}
.github-data {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  grid-area: 'username';
}
.modal-data {
  grid-area: 'data';
}
.modal-footer {
  margin: 5px;
}
.close-footer {
  background-color: none;
  border-radius: 5px;
  float: right;
  padding-right: 10px;
  cursor: pointer;
}
